.logo {
  width: 142px;
}
.logo:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .2s linear;
}

@media (max-width: 320px) {
  .logo {
    width: 103.74px;
    padding-left: 27px;
  }
}
